<div id="user-bar" style="text-align:right">
  <% if logged_in? %>
    Welcome, <%= link_to_user(current_user) %>
    <br/>
    <%= link_to "log out", logout_path %>
    
    <% if current_user.admin? %>
      <br/><br/>
      <ul class="pipes">
        <li><%= link_to "Candidates", candidates_path %></li>
        <li><%= link_to "Users", users_path %></li>
        <li><%= link_to "Options", options_path %></li>
      </ul>
    <% end %>
  <% else %>
    <%= link_to "log in", login_path %>
  <% end %>      
</div>