<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<ul class="pipes">
  <% if @user.editable_by?(current_user) %>
    <li><%= link_to 'Edit', edit_user_path(@user) %></li>
  <% end %>    
  <% if @user.destroyable_by?(current_user) %>
    <li><%= link_to 'Delete', @user, :confirm => "Are you sure you want to delete the user #{h @user.name}?  This cannot be undone.", :method => :delete %></li>
  <% end %>
  <% if current_user.admin? %>
    <li><%= link_to 'All Users', users_path %></li>
  <% end %>
</ul>