<p>
  <b>Name:</b>
  <%=h @candidate.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @candidate.email %>
</p>


<ul class="pipes">
  <li><%= link_to 'Edit', edit_candidate_path(@candidate) %></li>
  <li><%= link_to 'Delete', @candidate, :confirm => "Are you sure you want to delete the candidate #{h @candidate.name}?  This cannot be undone.", :method => :delete %></li>
  <li><%= link_to 'All Candidates', candidates_path %></li>
</ul>